################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactApp1/.vs/ReactApp1/FileContentIndex
/ReactApp1/.vs
/ReactApp1/.vs/ProjectEvaluation
/ReactApp1/.vs
*.v2
*.v2
*.v2
/ReactApp1/.vs
/ReactApp1/node_modules/@mui
/ReactApp1/.vs
/ReactApp1/.vs/ReactApp1
ReactApp1/node_modules/@mui/material/Select/package.json
/ReactApp1/ReactApp1.Server/Migrations
